@import '../../../../app/scss/mixins';

:host {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  .regionDetailWrapper {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    @include userSelectNone;

    .regionDetail {
      width: 100%;
      height: 40px;
      display: flex;
      flex-shrink: 0;
      padding: 8px 10px;
      position: relative;
      align-items: center;
      justify-content: space-between;
      transition: 0.28s margin-bottom ease;

      .label {
        gap: 8px;
        width: calc(100% - 26px);
        display: flex;
        align-items: center;

        span {
          cursor: default;
          font-size: 14px;
          font-weight: 500;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
          color: var(--text-grey);
          max-width: calc(100% - 100px);
        }
      }

      .star {
        transition: 0.15s all ease;

        svg {
          fill: transparent;
          stroke-width: 3px;
          stroke: var(--visual-elements-8);
        }

        &.selected {
          svg {
            fill: var(--warning);
            stroke: none;
          }
        }
      }

      &:before {
        content: '';
        bottom: 0;
        left: 10px;
        height: 1px;
        position: absolute;
        width: calc(100% - 20px);
        background: var(--visual-elements-primary-black-2);
      }
    }

    .collapse-wrapper {
      overflow: hidden;

      .collapse {
        width: 100%;
        display: flex;
        overflow: hidden;
        align-items: center;
        padding: 10px 10px;
        flex-direction: column;
        background: var(--visual-elements-7);
      }
    }

    &.open {
      > .regionDetail {
        margin-bottom: 4px;
        border-radius: 4px 4px 0 0;
      }
    }
  }
}
